@use './normalize.css';

$brand-main: rgb(246, 100, 16);
$brand-secondary: rgb(0, 142, 60);
$gray: rgb(125, 125, 125);
$black: rgb(0, 0, 0);
$white: rgb(255,255,255);
$spacer: 0.75rem;

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.25;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $brand-main;
}

.btn,
input,
a {
  &:focus {
    outline: rgba($brand-main, 0.7) solid 0.15rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  margin: 0 auto;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.site-title {
  color: $brand-main;
  font-size: 3rem;
  font-family: "Montserrat Alternates", sans-serif;
}

.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.site-nav ol {
  list-style: none;

  a {
    color: $gray;
    font-weight: 600;

    &:hover,
    &:focus,
    &.active {
      color: $black;
    }
  }
}

.welcome {
  font-size: 1.25rem;
  margin: 0 0 $spacer * 2;
}

.album-art {
  border-radius: 0.5rem;
}

.album-search {
  margin: $spacer * 2 0;

  &--input {
    display: block;
    color: $gray;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    border: 1px solid $gray;
    margin: $spacer/2 0 $spacer;

    &:focus {
      color: $black;
    }
  }

  .hint {
    display: block;
    margin: $spacer * 2 0 $spacer;
  }

  &--results {
    display: flex;
    flex-wrap: wrap;
    margin-top: $spacer * -0.5;
    margin-right: $spacer * -1;
    margin-left: $spacer *-1;

    .album-search--item {
      width: 33.3%;
      margin: $spacer 0;
      padding-right: $spacer;
      padding-left: $spacer;
      
      a {
        transition: all 0.5s;
        
        &:hover,
        &:focus {
          transform: scale(1.1);
        }
      }

    }
  }
}

.album-card {
  display: block;
  background: $white;

  &--img {
    width: 100%;
  }

  &--name {
    color: $black;
    font-size: 1.25rem;
  }

  &--artist {
    color: $gray;
  }
}

.album-detail {
  &--header {
    display: flex;
    position: relative;
    width: 100%;
    background-color: $black;
    color: $white;
    overflow: hidden;
    padding: $spacer*1.5 $spacer/1.5;
    margin: 0 0 $spacer;

    &-album,
    &-info {
      position: relative;
      z-index: 2;
      margin: 0 $spacer;
    }

    &-album img {
      height: 10rem;
    }

    &-info {
      color: white;
      flex: 1;
      display: flex;
      flex-direction: column;

      .album-name {
        font-size: 2rem;
        margin: 0 0 $spacer/2;
      }

      .view-link {
        display: inline-block;
        margin-top: auto;
        flex-shrink: 1;
      }
    }

    &-bg {
      filter: blur(1rem);
      opacity: 0.5;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: -2rem;
      right: -2rem;
      bottom: -2rem;
      left: -2rem;
      z-index: 1;
    }
  }

  &--body {
    display: flex;
    flex-direction: row;
    margin: $spacer 0;

    .metadata {
      width: 33.3%;

      h4 {
        color: $gray;
        font-weight: 300;
        margin: 0;
      }

      span {
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }
}